main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  padding: 0 1.6rem;
  margin-bottom: 2.4rem;
}

#createRoom {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-gray-600);

  color: var(--color-gray-200);

  transition: all 0.2s ease;
}

#createRoom:hover {
  color: var(--color-gray-400);
  background-color: var(--color-gray-700);
}

#createRoom:active {
  color: var(--color-gray-200);
  background-color: var(--color-gray-500);
}

#createRoom span {
  margin-right: 0.4rem;
}

#roomsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  padding: 0 1.6rem;
}

.room {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  padding: 0 1.6rem;
  margin-bottom: 2.4rem;
}
